@charset "UTF-8";
* {
  box-sizing: border-box;
  outline: none; }

body {
  height: 100vh;
  background: url(../IMG/bg.jpg) center no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }

.calc {
  border-width: 2px;
  border-color: #efae02;
  border-style: solid;
  width: 1068px;
  height: 646px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top; }

.tabs {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 35px;
  display: flex;
  justify-content: center; }
  .tabs .tab-left, .tabs .tab-right {
    border-radius: 0 15px 0 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.768627) 0%, #323131 100%);
    width: 200px;
    height: 70px;
    margin-right: 5px;
    font-family: Open Sans;
    color: #cecece;
    font-size: 18px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    cursor: pointer; }
  .tabs .tab-left {
    border-radius: 15px 0 0 0; }
  .tabs .active {
    background: #efae02;
    color: #000;
    position: relative; }
    .tabs .active:before {
      content: '';
      position: absolute;
      background-color: #efae02;
      width: 200px;
      height: 1px;
      left: 0;
      bottom: -6px; }

.counter {
  border-width: 3.15px;
  border-color: #efae02;
  border-style: solid;
  width: 126px;
  height: 54px;
  background-color: transparent;
  text-align: center;
  color: #efae02;
  font-size: 48px;
  font-weight: 700; }

.blocks {
  width: 65%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .blocks-title {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 72px;
    /* Приближение из-за подстановки шрифтов */
    text-align: left; }
    .blocks-title:before {
      content: '';
      position: absolute;
      height: 1px;
      background-color: #efae02;
      bottom: 0;
      left: 0; }

#pages-block {
  display: none; }

.addiction {
  font-size: 30px;
  font-weight: 700;
  line-height: 72px;
  color: #efae02; }
  .addiction-title {
    text-align: center; }
  .addiction-block {
    text-align: left; }
    .addiction-block input[type="checkbox"] {
      width: 23px;
      height: 23px;
      opacify: 0.5; }

.total {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 36px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700; }
  .total .total-count {
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: none;
    color: #efae02;
    text-align: right;
    font-size: 56px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700; }
